header, footer{
    background-color: #c1c1c1;
    width: 100%;
    height: 50px;
    color: Blue;
}

nav{
    background-color: #c1c1c1;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
 }

 nav a{
    padding-left: 20px;
    padding-right: 20px;
    color:black;
    text-decoration:none;
 }
 
 nav a:hover{
    color:white;
    border-top: 2px solid white;
 }
 
 section, iframe{
    width: 100%;
    height: 400px; 
}

iframe{
    border:0px;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

footer {
    background-color: #a8a1a1;
    color: #fff;
    text-align: center;
    padding: 10px;
}

form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

label, input, textarea {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
}

input[type="submit"] {
    background-color: #a8a1a1;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.produto {
    width: auto;
    margin: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.logo {
    max-width: 3%; 
    height: auto; 
}

.improduto {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
	transition: transform 0.3s;
}

.improduto:hover {
    transform: scale(1.04); 
}


.imservico {
    max-width: 15%; 
    height: auto;
    transition: transform 0.3s;	
}

.imservico:hover {
    transform: scale(1.15); 
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color:#a8a1a1;
	font-weight: bold;
    color:#ddd;	
}

.hidden {
    display: none;
}